


body {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    margin: 0px;
}

.head {
    background-color: #000000;
    height: 120px;
    width: 100%;
}

header {
    display: flex;
}
.head > a h1 {
    display: flex;
    color: #ffffff;
    width: 250px;
    background-color: #000000;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    letter-spacing: 1px;
    /* text-align: center; */
    line-height: 50px;
    justify-content: center;
}

.head a {
    display: flex;
    text-decoration: none;
    margin: 0px;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

header > nav > ul {
    color: #ffffff;
}




/* hamburger menu*/

#menu__toggle {
    /* opacity: 0;*/
    display: none;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 101px;
    left: 10px;
    width: 25px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: flex;
    position: fixed;
    top: 0px;
    left: -100%;
    width: 180px;
    height: 255px;
    margin: 0px;
    padding: 0px 0px;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
    transition-duration: .25s;
    margin-top: 120px;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .menu__box a {
    display: flex;
    align-items: flex-start;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }


/*Main area*/

.main-area {
    display: flex;
    background: url('http://www.frisorcarlen.se/img/topbild_start.jpg') no-repeat center center;
    background-size: cover;
}
