body {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  font-family: 'EB Garamond', serif;
}

.head {
  background-color: #000000a1;
  width: 100%;
  height: 50px;
  display: flex;
  text-decoration: none;
  padding-top: 10px;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
  /* display: flex; */
  align-content: flex-start;
  flex-wrap: wrap;
  position: fixed;
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
  top: 0;
  z-index: 1;

}

.head h1 {
  font-size: medium;
}

.Logo {
  text-decoration: none;
  color: #ffffff;
  width: 145px;
  background-color: #00000000;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  letter-spacing: 3px;
  text-align: center;
  animation-duration: 2s;
  animation-name: FadeLogo;
  line-height: 14px;
}

.subby {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
  text-align: center;
  animation-duration: 2s;
  animation-name: FadeLogo;

}



.information {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  color: #ffffff;
  text-align: center;
  text-align: center center;
  /* margin-top: 0px; */
  /* width: 90%; */
  /* padding-left: 5px; */
  /* padding-right: 500px; */
  height: 510px;
  font-size: 21px;
  justify-content: center;
  align-content: center;
  /* width: 100%; */
}

.information>p {
  padding: 20px;
}

/* hamburger menu*/

#menu__toggle {
  /* opacity: 0;*/
  display: none;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 27.5px;
  left: 10px;
  width: 25px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: flex;
  position: fixed;
  top: 0px;
  left: -110%;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px 0px;
  list-style: none;
  background-color: #9c8f8b;
  box-shadow: 2px 2px 6px rgb(0 0 0 / 100%);
  transition-duration: .25s;
  margin-top: 57px;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  /* z-index: 5; */
}

.menu__box a {
  display: flex;
  align-items: flex-start;
  font-family: 'EB Garamond', serif;
  justify-content: center;
}

.menu__item {
  display: flex;
  padding: 12px 24px;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;

}

.menu__item:hover {
  background-color: #a3a5a5;
  border: 2px solid grey;


}

.menu__box>li {
  width: 100%
}


/*Main area*/

.main-box {display: flex;background: url(../images/main-area-phone.png) center center no-repeat scroll;background-size: cover;height: 93vh;margin-top: 129px;max-width: 100%;/* max-height: 100%; */filter: brightness(0.9);justify-content: center;flex-direction: column;align-content: center;align-items: center;}

.booking {
  color: white;
  margin-top: -60px;
  /* padding-left: 38%; */
  text-align: center;
  font-size: 28px;
  /* background-color: #0000004f; */
  /* width: 40%; */
  border-radius: 10px;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* font-weight: bold; */
  text-shadow: 0px 1px 6px black;
  filter: brightness(1.07);
}

.main-area {
  width: 100%;

  margin-top: -68px;
  background-color: #9c8f8b;
  display: flex;
  flex-direction: column;


}


html, body {
  max-width: 100%;
  overflow-x: hidden;
}


.welcome-area {
  width: 100%;

  margin-top: 0px;
  background-color: #9c8f8b;
  display: flex;
  flex-direction: column;
  height: 100vh;


}


.sub-picture {
  background-image: url("../images/topbild_om_oss.jpeg");
  background-repeat: no-repeat;
  width: 100%;
  height: 164px;
  background-size: cover;


}

.information-2 > p {
  margin: 20px;
}



.products-area {
  width: 100%;

  margin-top: 0px;
  background-color: #9c8f8b;
  display: flex;
  flex-direction: column;
  height: 100vh;


}

.sub-picture-2 {
  background-image: url("../images/img_8404_720.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
}

.header-3 {
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 5px;
}

.information-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  color: #ffffff;
  text-align: center;
  text-align: center center;
  /* margin-top: 0px; */
  /* width: 90%; */
  /* padding-left: 5px; */
  /* padding-right: 500px; */
  height: 503px;
  font-size: 30px;
  /* justify-content: center; */
  align-content: center;
  /* width: 100%; */
  letter-spacing: 2px;
  padding-left: 5px;
  padding-right: 5px;
}


.brands-area > div{
  width: 100%;
  margin-top: 0px;
  background-color: #9c8f8b;
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  /* background-size: auto; */
  /* filter: invert(1); */
  justify-content: center;
  align-items: center;
}


.brands-area{
  background-color: #9C8F8B;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 10px;
  height: 100vh;
}

.picture-1{

  background-image: url("../images/Lanza-logo.png");
  background-repeat: no-repeat;

  background-size: auto;
  background-position: center;


}

.picture-2{
 
  background-repeat: no-repeat;
 
  background-size: auto;
  background-position: center;
  background-image: url("../images/Olaplex_Logo.svg");
 

}


.picture-3{

  background-repeat: no-repeat;

  background-size: auto;
  background-position: center;
  
  background-image: url("../images/wella-professionals-logo.svg");

}






html {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 7px;
}

.arrow-2 {
  display: flex;
  /* position: relative; */
  justify-content: center;
  margin-top: -15px;
  text-shadow: 0px 1px 6px black;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}



.header-2 {
  font-size: 28px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -75px;
}

/*Banner box*/

.banners {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-box {
  display: flex;
  width: 230px;
  /* height: 90px; */
  background-color: #ffffff;
  /* border-radius: 13px; */
  /* margin: 10px; */
  flex-direction: column;
  /* justify-content: center; */
}

.banner-box>img {
  width: 80%;
  height: 100%;
}



/*Footer section*/

.footer-section {
  display: flex;
  position: fixed;
  width: 100%;
  height: 22px;
  background-color: #61616161;
  bottom: 0;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.footer-section>a {
  font-family: 'EB Garamond', serif;

  text-decoration: none;
  color: white;
  font-size: 12px;
}


@keyframes FadeLogo {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@supports (-webkit-touch-callout: none) {
  #wrapper {
    background: url('../images/my_image.jpg') center top no-repeat scroll;
    background-size: auto 100vh;
  }
}
