


body {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  font-family: 'EB Garamond', serif;
}

.head {
  background-color: transparent;
  width: 100%;
  height: 300px;
  display: flex;
  text-decoration: none;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(http://www.frisorcarlen.se/img/topbild_start.jpg);
  background-position: center center;
  filter: brightness(90%);
  
}

.Logo {
  text-decoration: none;
  color: #ffffff;
  width: 250px;
  background-color: #00000000;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  letter-spacing: 1px;
  text-align: center;
  animation-duration: 2s;
  animation-name: FadeLogo;
  line-height: 13px;
}

.subby{
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
  text-align: center;
  animation-duration: 2s;
  animation-name: FadeLogo;

}

/* hamburger menu*/

#menu__toggle {
    /* opacity: 0;*/
    display: none;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 23px;
    left: 10px;
    width: 25px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: flex;
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px 0px;
    list-style: none;
    background-color: #9c8f8b;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 100%);
    transition-duration: .25s;
    margin-top: 150px;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    
  }

  .menu__box a {
    display: flex;
    align-items: flex-start;
    font-family: 'EB Garamond', serif;
  }
  .menu__item {
    display: flex;
    padding: 12px 24px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
   
  }
  .menu__item:hover {
    background-color: #a3a5a5;
    border: 2px solid grey;

    
  }

  .menu__box > li {
    width: 100%
    
  }


/*Main area*/








/*Banner box*/

.banners {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-box {
  display: flex;
  width: 230px;
  height: 90px;
  border: 2px solid grey;
  background-color: #ffffff;
  border-radius: 13px;
  margin: 10px;
  flex-direction: column;
  justify-content: center;
}

.banner-box > img {
  width: 100%;
  height: 85%;
}

.main-box {
  width: 100%;
  height: 370px;
}

/*Footer section*/

.footer-section {
  display: flex;
  position: fixed;
  width: 100%;
  height: 22px;
  background-color: #61616161;
  bottom: 0;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.footer-section > a {
  font-family: 'EB Garamond', serif;
  text-decoration: none;
  color: black;
  font-size: 20px;
}


@keyframes FadeLogo{
  from { opacity: 0%; }
  to { opacity: 100%; }
}